<div class="container" style="margin-top: 40px;">
    <div class="image-container">
        <app-rounded></app-rounded>
    </div>
    <div class="text-container ">
        <div style="display: flex; margin-bottom: 5%; align-items: center; ">
            <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/icons%2Fgive_7006344.png?alt=media&token=263505db-6f34-4f0b-9844-b32b38f55eb6"
            style="width:4%; height: 4%; ">
            <p class="textp1" style=" margin-left: 10px;"> 
               
                Solidarity is essential for creating a supportive community. It fosters a sense of belonging and ensures
                that everyone feels valued and included. When we stand together, we can overcome challenges and achieve more
                than we could alone.
            </p>
        </div>
       
        <div style="display: flex; margin-bottom: 5%; align-items: center;">
            <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/icons%2Fcare_9613341.png?alt=media&token=f3846a18-7ed9-4f7e-8be8-67a8ac9bb07b"
            style="width:4%; height: 4%;">
            <p class="textp2" style="  margin-left: 10px; ">
    
                Students need to help each other to foster a collaborative learning environment. When students support one
                another, they can share knowledge, skills, and resources, leading to a deeper understanding of the material.
                This collaboration also helps build essential teamwork skills that are valuable in both academic and
                professional settings.
            </p>
        </div>
        <div style="display: flex; margin-bottom: 5%; align-items: center;">
            <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/icons%2Fask-help_8190410.png?alt=media&token=18f1345b-07b4-4b52-a0a8-509a6fcfd73c"
            style="width:4%; height: 4%;">
            <p class="textp3" style=" margin-left: 10px; ">
                Helping others not only benefits those in need but also enriches our own lives. Acts of kindness can create
                a ripple effect, inspiring others to also contribute positively to the community. By helping each other, we
                build a network of support and trust.
            </p>
        </div>
       
    </div>

</div>