<div class="messenger">
  <div class="chatMenu">
    <div class="chatMenuWrapper">
      <input placeholder="Search for friends" class="chatMenuInput" />
    </div>
  </div>
  <div class="chatBox">
    <div class="chatBoxWrapper">
      <div class="chatBoxTop">
        <div class="conversationMessage userMessage">
          <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/twemoji--person.png?alt=media&token=9ceba160-d89b-445c-b034-1837f9050220" alt="User 1" class="senderAvatar senderLeft">
          <div class="message messageLeft">Message from User 1 Message from User 1 Message from User 1 Message from User 1 Message from User 1 Message from User 1 Message from User 1</div>
        </div>
        <div class="conversationMessage otherMessage">
          <div class="message messageRight">Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2</div>
          <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/noto--person.png?alt=media&token=a58cdfe1-3fa0-4bcb-b4c2-3af65178b222" alt="User 2" class="senderAvatar senderRight">
        </div>
        <div class="conversationMessage userMessage">
          <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/twemoji--person.png?alt=media&token=9ceba160-d89b-445c-b034-1837f9050220" alt="User 1" class="senderAvatar senderLeft">
          <div class="message messageLeft">Message from User 1 Message from User 1 Message from User 1 Message from User 1 Message from User 1 Message from User 1 Message from User 1</div>
        </div>
        <div class="conversationMessage otherMessage">
          <div class="message messageRight">Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2</div>
          <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/noto--person.png?alt=media&token=a58cdfe1-3fa0-4bcb-b4c2-3af65178b222" alt="User 2" class="senderAvatar senderRight">
        </div>
        <div class="conversationMessage userMessage">
          <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/twemoji--person.png?alt=media&token=9ceba160-d89b-445c-b034-1837f9050220" alt="User 1" class="senderAvatar senderLeft">
          <div class="message messageLeft">Message from User 1 Message from User 1 Message from User 1 Message from User 1 Message from User 1 Message from User 1 Message from User 1</div>
        </div>
        <div class="conversationMessage otherMessage">
          <div class="message messageRight">Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2</div>
          <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/noto--person.png?alt=media&token=a58cdfe1-3fa0-4bcb-b4c2-3af65178b222" alt="User 2" class="senderAvatar senderRight">
        </div> <div class="conversationMessage userMessage">
          <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/twemoji--person.png?alt=media&token=9ceba160-d89b-445c-b034-1837f9050220" alt="User 1" class="senderAvatar senderLeft">
          <div class="message messageLeft">Message from User 1 Message from User 1 Message from User 1 Message from User 1 Message from User 1 Message from User 1 Message from User 1</div>
        </div>
        <div class="conversationMessage otherMessage">
          <div class="message messageRight">Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2</div>
          <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/noto--person.png?alt=media&token=a58cdfe1-3fa0-4bcb-b4c2-3af65178b222" alt="User 2" class="senderAvatar senderRight">
        </div> <div class="conversationMessage userMessage">
          <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/twemoji--person.png?alt=media&token=9ceba160-d89b-445c-b034-1837f9050220" alt="User 1" class="senderAvatar senderLeft">
          <div class="message messageLeft">Message from User 1 Message from User 1 Message from User 1 Message from User 1 Message from User 1 Message from User 1 Message from User 1</div>
        </div>
        <div class="conversationMessage otherMessage">
          <div class="message messageRight">Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2</div>
          <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/noto--person.png?alt=media&token=a58cdfe1-3fa0-4bcb-b4c2-3af65178b222" alt="User 2" class="senderAvatar senderRight">
        </div> <div class="conversationMessage userMessage">
          <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/twemoji--person.png?alt=media&token=9ceba160-d89b-445c-b034-1837f9050220" alt="User 1" class="senderAvatar senderLeft">
          <div class="message messageLeft">Message from User 1 Message from User 1 Message from User 1 Message from User 1 Message from User 1 Message from User 1 Message from User 1</div>
        </div>
        <div class="conversationMessage otherMessage">
          <div class="message messageRight">Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2 Message from User 2</div>
          <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/noto--person.png?alt=media&token=a58cdfe1-3fa0-4bcb-b4c2-3af65178b222" alt="User 2" class="senderAvatar senderRight">
        </div>
      </div>
     
     
      <div class="chatBoxBottom">
        <textarea
          class="chatMessageInput"
          placeholder="write something..."
          onChange=""
          value=""
        ></textarea>
        <button class="chatSubmitButton">Send</button>
      </div>
   <!-- <span class="noConversationText">
        Open a conversation to start a chat.
      </span>-->
    </div>
  </div>
  <div class="chatOnline">
    <div class="chatOnlineWrapper"></div>
  </div>
</div>
<app-footer></app-footer>
