<div  class="body">
<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/announcement%2F%E2%80%94Pngtree%E2%80%94a%20diverse%20group%20of%20people_15362520.png?alt=media&token=8627f12e-d7b5-4e54-8a58-94898bd2d568" height="100" width="250" alt="" style="width: 50%;height: 50%;"/>
		</div>
		<div class="slide">
			<img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/announcement%2F%E2%80%94Pngtree%E2%80%94help%20stick%20figure_4139499.png?alt=media&token=19f01b0c-34cc-4db0-84bc-5f6ce1cea200" height="100" width="250" alt="" style="width: 50%;height: 50%;"/>
		</div>
		<div class="slide">
			<img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/announcement%2F%E2%80%94Pngtree%E2%80%94help%20students%20with%20earth%20rubbish_4701339.png?alt=media&token=6c18a76e-a4c0-43ae-ac4c-0a5eb5be558b" height="100" width="250" alt="" style="width: 50%;height: 50%;"/>
		</div>
		<div class="slide">
			<img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/announcement%2F%E2%80%94Pngtree%E2%80%94international%20day%20of%20solidarity%20with_5538354.png?alt=media&token=9f0f1e7e-80dc-4f88-a569-67431b51b8de" height="100" width="250" alt="" style="width: 50%;height: 50%;"/>
		</div>
		<div class="slide">
			<img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/announcement%2F%E2%80%94Pngtree%E2%80%94we%20are%20together_3010192.png?alt=media&token=dd299752-f4b8-4e7f-ac36-321fec738285" height="100" width="250" alt="" style="width: 50%;height: 50%;"/>
		</div>
		<div class="slide">
			<img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/announcement%2F%E2%80%94Pngtree%E2%80%94save%20palestine%20freedom%20vector%20solidarity_6398428.png?alt=media&token=a7fb665b-5500-4077-9690-f327b0a2e70b" height="100" width="250" alt="" style="width: 50%;height: 50%;"/>
		</div>
		<div class="slide">
			<img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/announcement%2F%E2%80%94Pngtree%E2%80%94we%20win%20because%20we%20play_14964814.png?alt=media&token=cbdd90d7-a36d-494d-a31e-9906b847ded5" height="100" width="250" alt="" style="width: 50%;height: 50%;"/>
		</div>
		<div class="slide">
			<img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/announcement%2Fhumanity-1024x512-20190225.png?alt=media&token=27d5b5fb-40c4-463e-b2f6-17c43ab5ee7d" height="100" width="250" alt="" style="width: 50%;height: 50%;"/>
		</div>
		<div class="slide">
			<img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/announcement%2FI_Stand_For_Human_Rights.jpg?alt=media&token=59df28a2-aef0-478a-a55f-bbfc71bc1a0b" height="100" width="250" alt="" style="width: 50%;height: 50%;"/>
		</div>
		<div class="slide">
			<img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/announcement%2F%E2%80%94Pngtree%E2%80%94round%20country%20flag%20tunisia_7718448.png?alt=media&token=b5ad7330-f80b-47a1-8621-056d873a82d9" height="100" width="250" alt=""style="width: 50%;height: 50%;" />
		</div>
		<div class="slide">
			<img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/announcement%2FOIP.jpeg?alt=media&token=bea874f2-219c-430a-9a66-d195821a2e77" height="100" width="250" alt="" style="width: 50%;height: 50%;" />
		</div>
		<div class="slide">
			<img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/announcement%2Fzpv8S0.jpg?alt=media&token=5b67057d-2f36-40c2-8e54-5dbda7eb290b" height="100" width="250" alt="" style="width: 50%;height: 50%;"/>
		</div>
		<div class="slide">
			<img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/announcement%2FOIP%20(2).jpeg?alt=media&token=e796c7f6-d06e-48d6-a2b7-0d0a1a0abf53" height="100" width="250" alt="" style="width: 50%;height: 50%;"/>
		</div>
		<div class="slide">
			<img src="https://firebasestorage.googleapis.com/v0/b/portfolio-bcf6e.appspot.com/o/announcement%2F%E2%80%94Pngtree%E2%80%94save%20palestine%20freedom%20vector%20solidarity_6398428.png?alt=media&token=a7fb665b-5500-4077-9690-f327b0a2e70b" height="100" width="250" alt="" style="width: 50%;height: 50%;"/>
		</div>
	</div>
</div>
</div>